/* Write your CSS here */
.balance-container-1 {
  display: flex;
  flex-direction: row;
  background-color: #ecfccb;
  width: 30%;
  margin-left: 15px;
}
.image-container-1 {
  margin: 15px;
}
.container-1 {
  margin-top: 10px;
}

.image-bal {
  height: 80px;
  width: 80px;
}

.balance-container-2 {
  display: flex;
  flex-direction: row;
  background-color: #cffafe;
  width: 30%;
  margin-left: 50px;
}
.image-container-2 {
  margin: 15px;
}
.container-2 {
  margin-top: 10px;
}

.image-income {
  height: 80px;
  width: 80px;
}

.balance-container-3 {
  display: flex;
  flex-direction: row;
  background-color: #ede9fe;
  width: 30%;
  margin-left: 50px;
}
.image-container-3 {
  margin: 15px;
}
.container-3 {
  margin-top: 10px;
}

.image-expenses {
  height: 80px;
  width: 80px;
}
